.swiper-slide {
  opacity: .15;
}

.swiper-slide img {
  border-radius: .85rem;
}

.swiper-slide-active {
  opacity: .999;
}

.swiper-button-prev,
.swiper-button-next {
  top: unset !important;
  bottom: 0;
  color: var(--color-black2) !important;
  z-index: 99;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: .85rem !important;
}

.swiper-pagination-fraction {
  position: relative !important;
  padding-top: calc(var(--el-between) * 4);
}

.swiper-pagination-fraction>span {
  font-size: .85rem;
}


.pswp__counter {
  width: auto;
  margin-top: 10px;
  margin-left: 15px;
}

.pswp__zoom-wrap {
  pointer-events: none !important;
  touch-action: none !important; 
  transform: none !important;
  position: relative;
  height: 100% !important;
}

.pswp__item, .pswp__img {
  pointer-events: none !important; 
  touch-action: none !important; 
}

.pswp__button.pswp__button--zoom,
.pswp--has_mouse .pswp__button--arrow {
  display: none !important;
}

.pswp__top-bar.pswp__hide-on-close {
  .pswp__preloader {display: none !important;}

  .pswp__button.pswp__button--close {
    width: 26px;
    height: 26px;
    top: 5px;
    left: 0px;
    margin-right: 10px;
    background: url('../../assets/icons/close.svg')no-repeat center/contain;
      .pswp__icn {display: none !important;}
    }
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__zoom-wrap ,
.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img {
  position: absolute;
  height: auto!important;
  top: 51%;
  transform: translateY(-50%);
  visibility: visible;
  opacity: 1;
  touch-action: none!important; /* 터치 확대/축소 방지 */
  pointer-events: none!important; /* 클릭 방지 */
} 

.pswp__zoom-wrap {
  pointer-events: none !important;
  transform: none !important;
  position: relative;
  height: 100% !important;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__zoom-wrap, 
.pswp--click-to-zoom.pswp--zoomed-in .pswp__zoom-wrap .pswp__img{
  pointer-events: none !important;
  transform: none!important;
  width: 100%!important;
}
