@charset "UTF-8";

article,
aside,
body,
button,
dd,
dialog,
dl,
dt,
fieldset,
figure,
footer,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
input,
legend,
li,
main,
nav,
ol,
p,
section,
select,
table,
td,
textarea,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div, section {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

i {
  font-style: normal;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: 'GowunBatang', 'SUIT', serif;
  line-height: 1.8;
  font-weight: 400;
  font-size: var(--font-size);
  font-display: swap;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  display: var(--el-flex);
  justify-content: var(--el-center);
  color: rgba(85, 85, 85, 85);
  background: var(--color-white);
}

.root {
  background: var(--bg-sub2);
}

:root {
  --font-title:'GowunBatang';
  --font-titleEn:'SometimesTimes';
  --font-subTitle:'GowunDodum';
  --font-subTitleEn:'JakartaSignature';
  --font-paragraph:'SUIT';
  --font-size: .95rem;

  --color-black: rgb(0, 0, 0);
  --color-black2: rgb(17, 17, 17);
  --color-white: rgb(255, 255, 255);
  --color-white2: rgb(248, 248, 248);

  --bg-body: #cadae3;
  --bg-main: #e4edf1;
  --bg-sub: #eef3f4;
  --bg-sub2: #afc8d4;
  --color-point: #7aa3b8;

  --el-flex: flex;
  --el-center: center;
  --el-column: column;

  --el-between: .5rem;
  --el-sideBetween: 1.375rem;
}


@font-face {
  font-family: 'GowunBatang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'GowunBatang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'GowunDodum';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2') format('woff2');
  font-weight: 300;
}


@font-face {
  font-family: 'SUIT';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'SUIT';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'SometimesTimes';
  src: url('../src/assets/fonts/SometimesTimes.woff2') format('woff2');
}

@font-face {
  font-family: 'JakartaSignature';
  src: url('../src/assets/fonts/JakartaSignature.woff2') format('woff2');
}
